*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
.env
*.plist
.env.local
*.keystore
*.jks
key.properties
google-services.json
GoogleService-Info.plist
Info.plist